body{
 font-family: Arial;
 margin:40px;
 background:#f5f7fa;
}

.card{
 background:white;
 padding:20px;
 border-radius:10px;
 box-shadow:0 2px 8px rgba(0,0,0,0.1);
 width:200px;
 margin-bottom:20px;
}

.ai-box {
    width: 450px;
    max-width: 90%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    background: white;
}


.logo {
    height: 60px;
    width: auto;
    margin-right: 10px;
}

